.contactForm {
    margin: 1rem 0 1.5rem;
}

.contactForm label {
    display: block;
    margin: 1rem 0;
    text-transform: capitalize;
}

.contactForm label span {
    display: block;
    padding-bottom: 0.25rem;
}

.contactForm input, .contactForm textarea {
    width: 100%;
    padding: 0.75em;
    border: 2px solid #777777;
    font-size: 16px;
}

.contactForm input {
    max-width: 350px;
}

.contactForm textarea {
    height: 15rem;
    max-width: 600px;
    font-size: initial;
}

.contactForm input:hover, .contactForm textarea:hover, .contactForm input:active, .contactForm textarea:active {
    border: 2px solid var(--dark-accent);
}

.contactForm button {
    color: #444444;
    font-weight: 600;
    padding: 1rem 2.5rem;
    background-color: #eeeeee;
    border: 1px solid #777777;
}

.contactForm button:hover {
    background-color: var(--accent-color);
}