.contactForm {
    margin: 1rem 0 1.5rem;
}

.contactForm label {
    display: block;
    margin: 1rem 0;
    text-transform: capitalize;
}

.contactForm label span {
    display: block;
    padding-bottom: 0.25rem;
}

.contactForm input, .contactForm textarea {
    width: 100%;
    padding: 0.75em;
    border: 2px solid var(--gray7);
    font-size: 16px;
}

.contactForm input {
    max-width: 350px;
}

.contactForm textarea {
    height: 15rem;
    max-width: 600px;
    font-size: initial;
}

.contactForm input:hover, .contactForm textarea:hover, .contactForm input:active, .contactForm textarea:active {
    border: 2px solid var(--accent-color);
    box-shadow: -2px 2px 5px 0 var(--medium-gray);
    transition: 0.1s linear;
}

.contactForm button {
    font-weight: 600;
    padding: 1rem 2.5rem;
    background-color: var(--alt-accent);
    color: var(--white);
    border: 4px solid var(--alt-accent);
    /*background-color: white;
    border: 4px solid var(--main-color);
    color: var(--main-color);*/
}

.contactForm button:hover {
     /*background-color: var(--alt-main);
     border-color: var(--alt-main);*/
    background: var(--accent-color);
    border-color: var(--accent-color);
 }

.contactForm button svg {
    vertical-align: bottom;
    font-size: 1.5rem;
}