.contactForm {
    margin: 1rem 0 1.5rem;
}

.contactForm label {
    display: block;
    margin: 1rem 0;
}

.contactForm label span {
    display: block;
}

.contactForm input, textarea {
    font-size: 16px;
    width: 100%;
    padding: 0.75em;
}

.contactForm input {
    max-width: 300px;
}

.contactForm textarea {
    max-width: 500px;
}

.contactForm button {
    color: #222222;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: #eeeeee;
    border: 1px solid #222222;
}

.contactForm button:hover {
    background-color: var(--accent-color);
}