.galleryNav {
    position: sticky;
    top: 0;
    background: var(--accent-gray);
    padding: 0 1rem;
    font-size: initial;
    z-index: 1;
}

.galleryNav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 2rem;
    margin: 0;
    padding: 0.5rem 2rem;
}

.galleryNav a, .galleryNav li {
    margin: 0;
    padding: 0;
}

.galleryNav li {
    display: block;
    width: 100%;
}

.galleryNav li.inactive {
    color: var(--neutral);
    padding: 0.5rem;
}


.galleryNav li a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
}

.galleryNav li a:hover {
    border: 1px dotted black;
    background: #d3d3d3;
}

.galleryNav .right {
    padding-right: 0.5rem;
}

.galleryNav .left {
    padding-left: 0.5rem;
}
