.galleryHeader {
    position: static;
    margin-bottom: 0;
}

.galleryHeader h1 {
    font-weight: normal;
}

.galleryHeader a {
    border-bottom: 1px solid transparent;
}

.galleryHeader a:hover {
    border-bottom: 1px solid var(--white);
}

.galleryHeader small {
    font-size: 1rem;
}
