#gallery {
    overflow: hidden;
}

#gallery > ul {
    width: 110%;
    margin-left: -5%;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 30% 40% 30%;
}

#gallery li {
    position: relative;
}

#gallery img {
    width: 100%;
}

#gallery img:hover, #gallery img:active {
    box-shadow: 0 0 6px 3px #ccc;
    border: 1px solid #ccc;
}

#gallery button {
    position: absolute;
}

#gallery ul > li:first-child button {
    right: 0;
}