.gallery {
    position: relative;
}

.gallery figure {
    grid-row: 2;
    max-width: max-content;
    margin: 0 auto;
}

.gallery figcaption {
    grid-row: 1;
    padding: 1rem;
    margin: 0;
}

.gallery img {
    max-width: 100%;
}

.gallery .galleryInner {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}




