.gallery {
    position: relative;
    margin: 0 3rem;
}

.gallery figure {
    grid-row: 2;
    max-width: max-content;
    margin: 0 auto;
}

.gallery figcaption {
    grid-row: 1;
    padding: 0 0 0.5rem;
    margin: 0;
}

.gallery img {
    max-width: 100%;
    display: block;
}

.gallery figure a {
    display: block;
    border: 2px solid transparent;
}

.gallery figure a:hover {
    border: 2px solid var(--main-color);
    box-shadow: 0 0 5px 0 var(--gray11);
}

.gallery .galleryInner {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.gallery .tech {
    color: var(--gray3);
}

.gallery .social-link a:hover {
    color: var(--main-color);
}

.gallery .copy {
    margin: 1.5rem 0;
}
