header {
    display: grid;
    grid-template-columns: auto 3fr;
    margin-bottom: 3rem;
    padding: 4rem 3rem 1rem;
    background-color: var(--main-color);
    color: white;
    z-index: 1;
}

header nav, header h1, header li {
    display: inline-block;
}

header h1, header h2 {
    color: white;
}

header h1 {
    font-size: 1.4rem;
}

header h2 {
    font-size: 1.1rem;
}

header nav {
    justify-self: right;
}

header ul {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr auto auto;
    grid-gap: 1rem;
    justify-items: center;
}

header li {
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 1.2rem;
    /*padding: 0 1rem;*/
    color: #ddd;
}

header li:hover {
    color: white;
}

header li:hover::before {
    background: var(--accent-color);
}

header a:hover {
    border: none;
}

header a:hover svg {
    color: var(--accent-color);
}

header svg {
    font-size: 1.75rem;
}

/*
header a:hover {
    border-bottom: none;
    background: var(--accent-color);
    color: #444;
}*/
