header {
    padding: 1rem 3rem;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header nav, h1, li {
    display: inline-block;
}

header nav {
    justify-self: center;
}

header h1 {
    font-size: 1rem;
    margin: 0;
}

header ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 30%));
    justify-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header li {
    font-size: 1.1rem;
}

