:root {
  --accent-gray: #ccc;
  --light-overlay: rgba(255,255,255,0.75);
  --main-color: #ccc;
  --neutral: #f2eee5;
  --light-neutral: #fdfdfc;
  --accent-color: #f6ad7b;
  --dark-accent: #be7575;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: #fbfbfb;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #222222;
}

h2 {
  font-size: 1.4rem;
  color: #444444;
}

h3 {
  font-size: 1.1rem;
  color: #333333;
}

p {
  line-height: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid black;
}

a.current {
  color: red;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.section {
  margin: 2rem 3rem;
}

#root {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
}

/* Adapted from [hover.css](https://github.com/IanLunn/Hover) */

/* Underline from center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  height: 4px;
  background: var(--accent-color);
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Icon up */
@-webkit-keyframes hvr-icon-up {
  0%, 50%, 100% {
    -webkit-transform: translateY(0)
  }
  25%, 75% {
    -webkit-transform: translateY(-6px);
  }
}

@keyframes hvr-icon-up {
  0%, 50%, 100% {
    transform: translateY(0)
  }
  25%, 75% {
    transform: translateY(-6px)
  }
}

.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
}

.hvr-icon-up .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-up:hover .hvr-icon, .hvr-icon-up:focus .hvr-icon, .hvr-icon-up:active .hvr-icon {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
