:root {
    --main-background: #F9F9F9;
    --main-color: #4693b8;
    --alt-main: #0b1f65;

    --accent-color: #fad02c;
    --alt-accent: #fabc5f;


    --gradient1: var(--main-color);
    --gradient2: var(--alt-main);

    --inactive: var(--gray7);
    --light-overlay: rgba(255, 255, 255, 0.75);

    --black: #000000;
    --white: #ffffff;
    --medium-gray: #cccccc;
    --gray7: #777777;

}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: var(--main-background);
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1.4rem;
    color: #444444;
}

h3 {
    font-size: 1.1rem;
    color: #333333;
}

p {
    line-height: 1.2rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
    padding-left: 0;
}

li {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
}

a.current {
    color: red;
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.section {
    margin: 2rem 3rem;
}

#root {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: -2px 10px 10px 0 rgba(0,0,0,0.5);
}
