:root {
  --accent-gray: #ccc;
  --light-overlay: rgba(255,255,255,0.75);
  --main-color: #c2e8ce;
  --neutral: #f2eee5;
  --light-neutral: #fdfdfc;
  --accent-color: #f6ad7b;
  --dark-accent: #be7575;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: #fbfbfb;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #222222;
}

h2 {
  color: #444444;
}

h3 {
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid black;
}

a.current {
  color: red;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.section {
  margin: 2rem 3rem;
}

#root {
  background: white;
}