#portfolio .navContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    padding-bottom: 2rem;
    margin: 0 2rem;
    background: var(--light-overlay);
}

#portfolio .navContainer h2 {
    grid-column: 1 / span 2;
    margin: 1.5rem 0 0 1rem;
}

#portfolio .navContainer nav {
    border-right: 3px solid var(--dark-accent);
    text-align: center;
    align-self: center;
}

#portfolio .navContainer li {
    padding: 1rem 0;
    font-weight: 600;
    cursor: pointer;
}

#portfolio .navContainer li.selected {
    font-weight: bold;
    cursor: default;
}

#portfolio .navContainer li:not(.selected):hover span {
    border-bottom: 1px solid black;
}

#portfolio > #jckb-scroller {
    display: inline-block;
    margin: 1rem 0 1rem 3rem;
    border-bottom: 1px solid transparent;
}

#portfolio > #jckb-scroller:hover {
    border-bottom: 1px solid black;
}