#portfolio {
    position: relative;
    padding: 2rem 0;
    background: var(--alt-accent);
}

#portfolio > div {
    box-shadow: 0 4px 6px 0 var(--gray7);
}

#portfolio .portfolioInner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    margin: 0 2rem;
    padding: 2.5rem 0 3rem;
    background: var(--light-overlay);
}

#portfolio .portfolioInner h2 {
    grid-column: 1 / span 2;
    margin: 0.5rem 1rem 0;
}

#portfolio .portfolioInner h3 {
    margin: 0;
}

#portfolio .portfolioInner nav {
    margin-left: 1rem;
    text-align: center;
    align-self: center;
}

#portfolio .portfolioInner ul {
    margin: 0;
}

#portfolio .portfolioInner li {
    margin: 1rem 0;
    line-height: 1.5rem;
    font-size: 0.95rem;
    cursor: pointer;
}

#portfolio .portfolioInner li.selected {
    font-weight: bold;
    cursor: default;
}

#portfolio .projectTile {
    border-left: 3px solid var(--main-color);
    padding: 0.5rem 2rem;
}

#portfolio .projectTile a {
    font-size: 0.9rem;
    vertical-align: text-top;
}

#portfolio .projectTile .copy {
    margin: 1.5rem 0;
}

#portfolio .tech {
    font-size: 0.9rem;
}

#portfolio a.gallery-link {
    font-size: 0.8rem;
    font-weight: bold;
}

#portfolio a.gallery-link:hover {
    border: 0;
    text-decoration: underline;
}

#portfolio #jckb-scroller {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}
