@import url('https://fonts.googleapis.com/css?family=Montserrat|Share+Tech+Mono&display=swap');

$main-color: #0d7e83;
$main-color-bright: #12b1ba;

$main-color-alt: #13293d;
$main-color-alt-bright: #135fa1;
$main-color-alt-desaturated: #394053;

$contrast-color: #a75265;
$contrast-color-light: #e6a1b6;

$contrast-color-alt: #ffaf87;
$contrast-color-alt-light: #faf4e1;

$text-color-success: #10979e;
$text-color-failure: #bf3051;
$text-color-important: $contrast-color;

$shadow: rgba(0, 0, 0, 0.5);
$box-shadow-crisp: -2px 4px 3px 0 $shadow;
$box-shadow-close: 0px 0px 10px 1px $shadow;
$box-shadow-distant: 0 4px 8px -3px $shadow;

$gray2: #1a1f21;
$gray3: #283033;
$gray4: #343f42;
$gray5: #425054;
$gray7: #5d6f75;
$gray14: #dbdbdb;
$white: #ffffff;

$background-color: $contrast-color-alt-light;
$text-color: $gray2;
$text-color-reverse: $white;

$font-stack: "Montserrat", Tahoma, Arial, Helvetica, sans-serif;
$header-font-stack: "Share Tech Mono", "Courier New", Monaco, sans-serif;
$font-stack-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$default-font-size: 18px;
$desktop-font-size: 16px;

$whitespace: 1rem;
$whitespace-med: 1.5rem;
$whitespace-lg: 2rem;

/* Rough breakpoint equivalents:
 default: phone (portrait)
 >=small: phone (landscape), tablet (portrait)
 >=medium: tablet (landscape)
 >=large: laptop, desktop
 */
$breakpoints: (small: 560px, medium: 760px, large: 1000px) !default;
