$main-color: #0d7e83;
$main-color-dark: #13293d;
$main-color-bright: #12b1ba;
$main-color-desaturated: #394053;
$contrast-color: #a75265;
$contrast-color-light: #e6a1b6;
$contrast-color-lightest: #faf4e1;
$contrast-color-alt: #ffaf87;

$text-color-success: #10979e;
$text-color-failure: $contrast-color;

$light-overlay: rgba(255, 255, 255, 0.85);
$dark-overlay: rgba(0,0,0,0.25);
$shadow: rgba(0,0,0,0.5);

$box-shadow-crisp: -2px 4px 3px 0 $shadow;
$box-shadow-close: 0px 0px 10px 1px $shadow;
$box-shadow-distant: 0 4px 8px -3px $shadow;

$gray2: #1a1f21;
$gray3: #283033;
$gray4: #343f42;
$gray5: #425054;
$gray7: #5d6f75;
$gray14: #bbe1ed;
$white: #ffffff;

$background-color: $contrast-color-lightest;
$text-color: $gray2;
$text-color-reverse: $white;

$font-stack: 'Open Sans', sans-serif;
$font-stack-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$default-font-size: 16px;

$whitespace: 1.5rem;
$whitespace-med: 2rem;
$whitespace-lg: 3rem;

// small: 560px, medium: 704px, med-lg: 960px, large: 1024px
$breakpoints: (small: 35em, medium: 44em, med-lg: 60rem, large: 64rem) !default;
