@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

.contactForm {
  margin: 1rem 0 1.5rem;

  label, input, textarea {
    display: block;
  }

  label {
    margin: 1rem 0;
    text-transform: capitalize;

    span {
      display: block;
      padding-bottom: 0.25rem;
    }
  }

  input, textarea {
    width: 95%;
    max-width: 600px;
    border: 2px solid $gray7;
    padding: 0.5rem;

    @include media(">=small") {
      width: 96%;
    }

    @include media(">=medium") {
      width: 97%;
    }

    &:hover, &:focus, &:active {
      border: 2px solid $accent-color;
      box-shadow: -2px 2px 5px 0 $shadow;
      transition: 0.1s linear;
    }
  }

  textarea {
    height: 10rem;
  }

  button {
    width: 100%;
    padding: 1rem;
    background: $white;
    border: 4px solid $main-color;
    color: $main-color;
    font-weight: bold;

    @include media(">=medium") {
      width: 12rem;
    }

    &:hover, &:focus, &:active {
      background: $main-color;
      border-color: $main-color;
    }
  }
}