@import '_variables.scss';
@import '~include-media/dist/_include-media.scss';

footer {
  padding: 2rem $whitespace;
  background-color: $alt-main;
  color: $white;

  @include media(">=small") {
    padding: 1rem $whitespace-med 2rem;
  }

  @include media(">=large") {
    padding: 2rem $whitespace-lg 3rem;
    font-size: 1rem;
  }

  a {
    color: $white;
    border-bottom: 1px solid $white;

    &:hover, &:focus, &:active {
      color: $accent-color;
      border-color: $accent-color;
    }
  }

  p {
    color: $white;

    @include media(">=medium") {
      display: inline-block;

      &:first-of-type {
        margin-right: 0.5rem;
      }
    }
  }
}