@import '_variables.scss';
@import '~include-media/dist/_include-media.scss';

footer {
  padding: 2rem $whitespace;
  background-color: $main-color-alt;
  color: $text-color-reverse;

  @include media(">=small") {
    padding: 1rem $whitespace-med 2rem;
  }

  @include media(">=large") {
    padding: 2rem $whitespace-lg 3rem;
    font-size: 1rem;
  }

  a {
    color: $text-color-reverse;
    text-decoration: underline;

    &:hover, &:focus, &:active {
      color: $contrast-color-alt;
      text-decoration-color: $contrast-color;
    }
  }

  p {
    @include media(">=medium") {
      display: inline-block;

      &:first-of-type {
        margin-right: 0.5rem;
      }
    }
  }
}