@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

.galleryHeader {
  h1 {
    font-weight: normal;
    font-size: 1.4rem;
  }

  a {
    border-bottom: 1px solid transparent;
    color: $white;

    &:hover, &:focus, &:active {
      border-bottom: 1px solid $white;
    }
  }

  small {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;

    @include media(">=small") {
      display: inline-block;
    }
  }
}