@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

.gallery-nav {
  position: sticky;
  top: 0;
  background: $contrast-color;
  box-shadow: $box-shadow-distant;
  color: $text-color-reverse;
  z-index: 1;

  ul {
    padding: 1rem $whitespace;

    @include media(">=small") {
      padding: 1rem $whitespace-med;
    }

    @include media(">=medium") {
      padding: 1rem $whitespace-lg;
    }
  }

  li {
    text-transform: capitalize;
    align-self: center;
  }

  svg {
    vertical-align: bottom;
  }

  a {
    color: $text-color-reverse;

    &:hover, &:active, &:focus {
      color: inherit;

      svg {
        color: inherit;
      }
    }

    &:before {
      background: $contrast-color-light;
    }
  }

  .proj-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    grid-column-gap: 0.5rem;

    a {
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }

  .home-nav {
    font-size: 1.5rem;
    text-align: center;
    align-self: center;

    svg {
      vertical-align: baseline;
    }
  }

  .image-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    background: rgba(0, 0, 0, 0.25);
    font-size: 0.9rem;
    align-items: center;
    padding: 0.5rem $whitespace;

    @include media(">=small") {
      padding: 0.5rem $whitespace-med;
    }

    @include media(">=medium") {
      padding: 1rem $whitespace-lg;
    }

    .inactive, .active {
      display: flex;
      flex-flow: column;
      text-align: center;

      svg {
        width: 100%;
      }
    }

    .inactive {
      color: $text-color;
    }

    .nav-location {
      span {
        display: block;
        text-transform: initial;
      }
    }
  }
}