@import "_variables.scss";

.galleryNav {
  position: sticky;
  top: 0;
  margin: 0 0 2rem;
  background: $alt-accent;
  box-shadow: 0 2px 10px 0 $shadow;
  z-index: 1;

  li {
    width: 100%;
    text-transform: capitalize;
    padding: 0.25rem;

  }

  svg {
    vertical-align: bottom;
  }

  a {
    width: 100%;
    color: $gray3;

    &:hover, &:focus, &:active {
      border: none;
    }
  }

  .projNav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 0.25rem;
    padding: 0.5rem;
  }

  .home-nav {
    font-size: 1.3rem;

    a {
      &:hover, &:focus, &:active {
        color: $main-color;
      }
    }
  }

  .imageNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    background: rgba(255, 255, 255, 0.25);
    padding: 0.5rem;

    a {
      &:hover, &:focus, &:active {
        color: $main-color;
        border-bottom: none;
      }
    }

    .inactive, .active {
      display: flex;
      flex-flow: column;
      text-align: center;

      svg {
        width: 100%;
      }
    }

    .inactive {
      span, svg {
        color: $white;
      }
    }

    .nav-location span {
      display: block;
      text-transform: initial;
      color: $gray3;
    }
  }
}