@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

#root > .gallery-header {
  display: block;

  @include media (">=small") {
    padding-top: 4rem;
  }

  @include media(">=medium") {
    padding-top: 5rem;
  }

  h1 {
    font-weight: normal;
    font-size: 1.5rem;
  }

  a {
    border-bottom: 1px solid transparent;

    &:hover, &:focus, &:active {
      border-bottom: 1px solid $text-color-reverse;
    }
  }

  small {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;

    @include media(">=small") {
      display: inline-block;
    }
  }

  .skip-link {
    display: inline-block;
    padding-top: 1rem;
    text-decoration: underline;
  }
}