@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

.gallery {
  position: relative;
  margin: 0 $whitespace;

  img {
    display: block;
    max-width: 100%;
  }

  hr {
    background-color: $main-color;
    border: 1px solid transparent;
    margin: 0 auto;
    height: 0.01rem;

    @include media(">=small") {
      width: 80%;
    }

    @include media(">=medium") {
      margin: 1.5rem auto 0.5rem;
    }
  }

  .galleryInner {
    display: grid;
    grid-template-columns: 1fr;

    figure {
      grid-row: 2;
      margin: 0 auto;

      a {
        display: block;
        border: 2px solid transparent;

        &:hover, &:focus, &:active {
          border: 2px solid $main-color-bright;
          box-shadow: $box-shadow-close;
        }
      }
    }

    figcaption {
      grid-row: 1;

      p:last-of-type {
        margin-bottom: 2rem;
      }
    }
  }

  .tech {
    color: $gray4;
    margin-top: 0;
  }

  .social-link a {
    &:hover, &:focus, &:active {
      text-decoration: underline;
      svg {
        color: $main-color;
      }
    }
  }

  .copy {
    @include media(">=large") {
      margin-top: 2rem;
    }
  }

  #jckb-scroller {
    margin: 1.5rem 0 0;
  }
}