@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

.galleryHeader {
  display: block;

  h1 {
    font-weight: normal;
    font-size: 1.4rem;
  }

  a {
    border-bottom: 1px solid transparent;

    &:hover, &:focus, &:active {
      border-bottom: 1px solid $text-color-reverse;
    }
  }

  small {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;

    @include media(">=small") {
      display: inline-block;
    }
  }

  .sr-only {
    display: inline-block;
    padding-top: 1rem;
  }
}