@import '_variables.scss';
@import '~include-media/dist/_include-media.scss';

header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-row-gap: 1rem;
  padding: 1.5rem $whitespace 1rem;
  background: $main-color;
  z-index: 1;

  @include media(">=small") {
    grid-template-areas: "header nav social";
    grid-template-columns: 1fr 3fr auto;
    grid-gap: 1rem;
    align-items: center;
    padding: 3.5em $whitespace-med 1em;
  }

  @include media(">=large") {
    padding: 4.5em $whitespace-lg 1em;
  }

  h1 {
    grid-area: 1 / 1 / 2 / 2;
    color: $white;
    font-size: 1.4rem;

    @include media(">=small") {
      grid-area: header;
      font-size: 1.1rem;
    }

    @include media(">=medium") {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 1.1rem;
  }

  a {
    color: $white;
  }

  .main-nav {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 1.2rem;

    @include media(">=small") {
      grid-area: nav;
      margin: 0;
      font-size: 1.1rem;
    }

    @include media(">=medium") {
      font-size: 1.4rem;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }


    li {
      @include media(">=small") {
        &:not(:last-of-type) {
          padding-right: 1rem;
        }
      }

      &:hover, &:focus, &:active {
        &::before {
          background: $accent-color;
        }
      }
    }

    a {
      display: inline-block;
      text-decoration: underline;

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }

  .social-nav {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2rem;

    li:first-of-type {
      margin-right: 0.5rem;
    }

    @include media(">=small") {
      grid-area: social;
      font-size: 1.75rem;

      svg {
        vertical-align: text-top;
      }
    }

    @include media(">=medium") {
      svg {
        margin-left: 0.5rem;
      }
    }

    a {
      &:hover, &:focus, &:active {
        color: $accent-color;
      }
    }
  }
}