@import '_variables.scss';
@import '~include-media/dist/_include-media.scss';

#root > header {
  display: grid;
  grid-template: [row-1-start] "header social" [row-1-end] [row-2-start] "nav nav" [row-2-end]
  / 1fr auto;
  grid-row-gap: 1rem;
  padding: ($whitespace * 2) $whitespace 1rem;
  background: $main-color;
  color: $text-color-reverse;
  z-index: 1;

  @include media(">=small") {
    padding: ($whitespace-med * 2) $whitespace-med 1.5rem;
    grid-template: [row-1-start] ". social" [row-1-end] [row-2-start] "header nav" [row-2-end] / 1fr auto;
  }

  @include media(">=medium") {
    padding: ($whitespace-lg * 2) $whitespace-lg 1.5rem;
  }

  h1 {
    grid-area: header;
    font-size: 1.3rem;
    align-self: center;
  }

  a {
    color: $text-color-reverse;
  }

  .main-nav {
    grid-area: nav;
    align-self: center;

    @include media(">=small") {
      font-size: 1.1rem;
    }

    @include media(">=medium") {
      font-size: 1.2rem;
    }

    ul {
      display: flex;
      justify-content: space-between;

      @include media(">=small") {
        justify-content: flex-end;
      }
    }

    li {
      &:not(:last-of-type) {
        @include media(">=small") {
          margin-right: 1rem;
        }
        @include media(">=medium") {
          margin-right: 2rem;
        }
      }

      &:hover, &:focus, &:active {
        &::before {
          background: $contrast-color-alt;
        }
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }

      &:focus, &:active {
        color: $contrast-color-alt;
      }
    }
  }

  .social-nav {
    display: flex;
    justify-content: flex-end;
    grid-area: social;
    font-size: 1.7rem;

    @include media(">=medium") {
      font-size: 1.8rem;
    }

    li:first-of-type {
      margin-right: 0.5rem;

      @include media(">=medium") {
        margin-right: 1rem;
      }
    }

    a {
      &:hover, &:focus, &:active {
        color: $contrast-color-alt;

        svg {
          color: inherit;
        }
      }
    }

    svg {
      vertical-align: top;
    }
  }

  #top {
    grid-row: 1;
    grid-column: 1;
  }

  /* Overrides some hover effects for small screens */

  .text-grow-out {
    @include media("<small") {
      &:focus, &:active {
        transform: scale(1);
      }
    }
  }

  .hvr-underline-from-center {
    &:before {
      background: $contrast-color-alt;
    }

    @include media("<small") {
      &:before {
        position: static;
      }
    }
  }
}