@import '_variables.scss';
@import '~include-media/dist/_include-media.scss';

#root > header {
  display: grid;
  grid-template: [row-1-start] "header social" [row-1-end] [row-2-start] "nav nav" [row-2-end]
  / 1fr auto;
  grid-row-gap: 1rem;
  padding: 1.5em $whitespace;
  background: $main-color;
  color: $text-color-reverse;
  z-index: 1;

  @include media(">=small") {
    padding: 1.5em $whitespace-med;
    grid-template: [row-1-start] ". social" [row-1-end] [row-2-start] "header nav" [row-2-end] / 1fr auto;
  }

  @include media(">=medium") {
    padding: 2.5em $whitespace-lg 1.5em;
  }

  h1 {
    grid-area: header;
    font-size: 1.4rem;

    @include media(">=medium") {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 1.1rem;
  }

  a {
    color: $text-color-reverse;
  }

  .main-nav {
    grid-area: nav;
    font-size: 1.1rem;
    align-self: center;

    @include media(">=medium") {
      margin: 0;
      font-size: 1.2rem;
    }

    ul {
      display: flex;
      justify-content: space-between;

      @include media(">=small") {
        justify-content: flex-end;
      }
    }

    li {
      &:not(:last-of-type) {
        @include media(">=small") {
          margin-right: 1rem;
        }
        @include media(">=medium") {
          margin-right: 1.5rem;
        }
      }

      &:hover, &:focus, &:active {
        &::before {
          background: $contrast-color-alt;
        }
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }

      &:focus, &:active {
        color: $contrast-color-alt;
      }
    }
  }

  .social-nav {
    display: flex;
    justify-content: flex-end;
    grid-area: social;
    font-size: 2rem;

    @include media(">=medium") {
      font-size: 1.8rem;
    }

    li:first-of-type {
      margin-right: 0.5rem;

      @include media(">=medium") {
        margin: 0;
      }
    }

    a {
      &:hover, &:focus, &:active {
        color: $contrast-color-alt;

        svg {
          color: inherit;
        }
      }
    }

    svg {
      @include media(">=medium") {
        vertical-align: top;
        margin-left: 0.5rem;
      }
    }
  }

  #top {
    grid-row: 1;
    grid-column: 1;
  }

  /* Overrides some hover effects for small screens */

  .text-grow-out {
    @include media("<small") {
      &:focus, &:active {
        transform: scale(1);
      }
    }
  }

  .hvr-underline-from-center {
    &:before {
      background: $contrast-color-alt;
    }

    @include media("<small") {
      &:before {
        position: static;
      }
    }
  }
}