@import '_variables.scss';
@import '~include-media/dist/_include-media.scss';

html {
  font-size: $default-font-size;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  width: 100%;
  margin: 0 auto;
  background: $background-color;
  color: $text-color;
}

h1, h2, h3, ul, li, a {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.4em;
  color: $gray3;
}

h3 {
  font-size: 1.2em;
  color: $main-color-dark;
}

p {
  line-height: 1.2em;
  margin: 1rem 0;
}

code {
  font-family: $font-stack-code
}

li {
  display: inline-block;
}

a {
  color: $text-color;
  text-decoration: none;
}

.section {
  margin: 1rem 0;
  padding: 1rem $whitespace;
  background: $white;

  @include media(">=small") {
    padding: 1rem $whitespace-med;
  }

  @include media(">=large") {
    padding: 2rem $whitespace-lg;
  }

  h2 {
    margin: 0 0 1rem;
  }
}

.copy a {
  text-decoration: underline;
}

.text {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }
}

.grid {
  &-start {
    justify-self: start;
  }

  &-end {
    justify-self: end;
  }

  &-center {
    justify-self: center;
  }
}

.contactMsg span {
  height: 0;
  transition: all 1s linear;
}

.success {
  height: auto;
  font-weight: bold;
  color: $text-color-success;
}

.failure {
  height: auto;
  font-weight: bold;
  color: $text-color-failure;
}

.sr-only {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &.show-on-focus {
    &:focus, &:active {
      position: static;
      left: auto;
      width: auto;
      height: auto;
    }
  }
}

/* Honeypot class -- name intentionally vague */
.jckb-field {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: $box-shadow-close;
  background: $contrast-color-alt;
}
