@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

.portfolio-tile {
  margin: 1.5rem 0;

  @include media(">=medium") {
    margin: 0;
    padding: 0 ($whitespace-lg / 2) 0 0.5rem;
  }

  @include media(">=large") {
    padding: 0 ($whitespace-lg / 2) 0 1rem;
  }

  & > header, & > .standalone-link {
    padding: 0 ($whitespace / 2);

    @include media(">=small") {
      padding: 0 ($whitespace-med / 2);
    }
  }

  li {
    line-height: 1.5rem;
  }

  .copy {
    margin: 1rem 0;
    padding: 0 ($whitespace / 2);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid $gray14;
    border-left: none;
    border-right: none;

    @include media(">=small") {
      padding: 0 ($whitespace-med / 2);
    }

    @include media(">=medium") {
      max-height: 15rem;
      overflow: auto;
      //noinspection CssUnknownProperty
      scrollbar-width: thin;
      margin: 0;
    }
  }
}