@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

#jckb-scroller {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.5rem 0;

  @include media(">=medium") {
    padding: 1rem 0;
  }

  @include media(">=large") {
    padding: 1rem 0 0;
  }

  a {
    border-bottom: 1px solid transparent;
    color: $main-color-desaturated;
    margin-right: 0.25rem;
    text-transform: capitalize;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}