@import "_variables.scss";

#portfolio {
  background: $accent-color;
  padding: 1rem 0;

  h2 {
    padding-top: 1em;
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 0.9rem;
  }

  nav {
    background: $main-background;
    padding: 0.5rem 0;
    margin: 0 -1rem 1.5rem;
    overflow: auto;
    scrollbar-width: thin;
    border: 2px solid $alt-accent;

    ul {
      display: flex;
      margin: 1rem 0;
    }

    li {
      flex-basis: max-content;
      padding: 0 0.5rem;
      cursor: pointer;
      line-height: 1.5rem;

      &.selected {
        cursor: default;
        color: $gray5;
        font-weight: bold;
      }

      &:not(.selected) {
        color: $gray6;
        transition: transform ease-out 0.1s;

        &:hover, &:focus, &:active {
          color: $main-color;
          transform: scale(1.05) translateY(-0.1rem);
        }
      }
    }

    span {
      display: inline-block;
      width: max-content;
    }
  }

  .portfolioInner {
    background: $light-overlay;
    padding: 0 $whitespace;
  }

  .gallery-link {
    font-weight: bold;
  }

  .copy p {
    font-size: 1rem;
  }

  #jckb-scroller {
    padding-bottom: 1rem;
  }
}