@import "_variables.scss";
@import '~include-media/dist/_include-media.scss';

.portfolio {
  position: relative;
  background: $contrast-color;
  padding: 1rem 0;

  .portfolio-inner {
    background: rgba(255, 255, 255, 0.85);
    margin: 0 ($whitespace * 0.6);

    @include media(">=small") {
      margin: 0 ($whitespace-med / 2);
    }

    @include media(">=medium") {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 0 ($whitespace-lg / 2);
    }

    @include media(">=large") {
      grid-template-columns: 2fr 5fr;
    }

    h2 {
      padding: 1.5rem ($whitespace * 0.3);

      @include media(">=small") {
        padding: 1.5rem ($whitespace-med / 2);
      }

      @include media(">=medium") {
        grid-column: 1 / 3;
        padding: 2rem ($whitespace-lg / 2) 1.5rem;
      }
    }
  }

  #jckb-scroller {
    padding: 0 ($whitespace / 2) 1rem;

    @include media(">=small") {
      padding: 0 ($whitespace-med / 2) 1rem;
    }

    @include media(">=medium") {
      grid-column: 2;
      padding: 0 ($whitespace-lg / 2) 2rem 0;
    }
  }
}
